@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    background: hsl(212, 45%, 89%);
    margin:0;
    padding:0;
    font-family: Outfit;
}
.container{
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    .area{
        //box-shadow: 2px -2px 40px 3px black;
        border-radius: 20px;
        display:flex;
        align-items: center;
        flex-direction: column;
        background:hsl(0, 0%, 100%);
        min-height: auto;
        .qr-area{
            max-width:290px;
            max-height:290px;
            padding:2px;
            margin:10px;
            img{
                height:290px;
                border-radius: 15px;
            }
        }
        .text-area{
            max-width: 280px;
            margin: 5px 15px 15px 15px;
            .text-title{
                color: hsl(218, 44%, 22%);
                font-size: 23px;
                font-weight:700;
                text-align:center;
            }
            .text{
                color:hsl(216, 15%, 48%);
                margin:12px 20px 20px 20px;
                font-size:15px;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}