//Помни что в сиесес важно на каком месте написан 
//код по важности, чем ниже тем важнее

// Импорт файлов стилей (можно импортировать обнуляющий стиль)
// @import url('');

// Шаблоны(в стиль какого-то класса пишешь @extend %название шаблона;)
// %название шаблона{
//     атрибуты
// }
// !!! ТАК ЖЕ вместо шаблона можно аналогично делать с классами !!!

// Миксин (можно сказать функция которая применяет много разных
// атрибутов которые ты можешь задавать в дужках)
// @mixin название(переменная(значение атрибута)) {
//      атрибут: переменная;
//}
// а в стиле класса пишеш @include название(значение переменной);



// НЕ попадает в css
/* попадает в css */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$bd: 7px solid #2db928;
$bxshd: 0px 2px 15px 3px #000000;

body{
    font-family: Pacifico;
    background: #ffffff 50% 50%;
}
header{
    z-index: 1;
    position:fixed;
    top:1%;
    left:3%;
    width:94%;
    height:10%;
    background: linear-gradient(90deg, rgb(255,255,255) 0%, rgb(125,125,0) 50%, rgb(255,255,255) 100%);
    border-radius: 40px;
    box-shadow: $bxshd;
    &:hover{
        cursor:pointer;
        background: linear-gradient(90deg, rgb(125,125,0) 0%, rgb(255,255,255) 50%, rgb(125,125,0) 100%);
    }
}
.header-click{
    animation: scaleUp 0.5s ease-in-out forwards;
    background: linear-gradient(90deg, rgb(125,125,0) 0%, rgb(125,125,0) 50%, rgb(125,125,0) 100%);
    &:hover{
        cursor:pointer;
        background: linear-gradient(90deg, rgb(125,125,0) 0%, rgb(125,125,0) 50%, rgb(125,125,0) 100%);
    }
}
@keyframes scaleUp {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
.page{
    display:flex;
    justify-content:center;
    margin:auto;
.container{
    border:2px solid black;
    max-width: 1200px;
    margin: 6% 10px 0px 5px;
    
    .container-3col{
        
        display: flex;
        justify-content: space-between;
        padding: 5px; 
           
        .element-3col{
            overflow: hidden;
            margin:15px;
            display:block;
            text-align: center;
            border: 2px solid black;
            justify-content: center;
            .text-3col{
                padding:0 5px 5px 5px;
            }
            .photo-3col{
                padding: 10px 10px 0 10px;
                img{
                    width:100%;
                    height:auto;
                }
            }
        }
    }
    .container-2col{
        display:flex;
        justify-content: space-between;
        padding: 5px;
        .element-2col{
            overflow: hidden;
            margin:15px;
            display:block;
            text-align: center;
            border: 2px solid black;
            justify-content: center;
            .photo-2col{
                padding: 10px 10px 0 10px;
                img{
                    width:100%;
                    height:auto;
                }
            }
        }
    }
}
}

@media(max-width:1200px){
    .page{
        min-width:970px;
    }
}
@media(max-width:992px){
    .page{
        min-width:750px;
    }
}

@media(max-width:767px){
    .page{
        min-width:none;
    }
    .container-3col{
        flex-direction:column;
    }
    .container-2col{
        flex-direction: column;
    }
}
