//Помни что в сиесес важно на каком месте написан 
//код по важности, чем ниже тем важнее

// Импорт файлов стилей (можно импортировать обнуляющий стиль)
// @import url('');

// Шаблоны(в стиль какого-то класса пишешь @extend %название шаблона;)
// %название шаблона{
//     атрибуты
// }
// !!! ТАК ЖЕ вместо шаблона можно аналогично делать с классами !!!

// Миксин (можно сказать функция которая применяет много разных
// атрибутов которые ты можешь задавать в дужках)
// @mixin название(переменная(значение атрибута)) {
//      атрибут: переменная;
//}
// а в стиле класса пишеш @include название(значение переменной);



// НЕ попадает в css
/* попадает в css */

$bd: 7px solid #2db928;
$bxshd: 0px 2px 15px 3px #000000;

body{
    background: #000000 url(../media/learn1.jpg) 50% 50%;
}
header{
    z-index: 1;
    position:fixed;
    top:1%;
    left:3%;
    width:94%;
    height:10%;
    background: linear-gradient(90deg, rgb(255,255,255) 0%, rgb(125,125,0) 50%, rgb(255,255,255) 100%);
    border-radius: 40px;
    box-shadow: $bxshd;
}


.ex-block{  
    border: 20px solid grey;
    border-radius:50px 10px 20px 50px;
    box-shadow: $bxshd;
    max-width: 300px;
    padding: 20px;
    margin-left: 10%;
    margin-bottom:20%;    
    margin-top: 10%;
    position:relative;
    &::before{
        content:"<<<";
        font-size:20px;
        position: absolute;
        left:-40px;
        top:-40px;
    }
}
.ex-line{
    outline: 5px solid black;
    font-size: 25px;
    box-shadow:$bxshd;
}
    .ex-img{
        max-width: 500px;
        opacity: 0;
        &:hover{
            border: $bd;
            opacity: 1;
        
        }
    }

.bg{
    border:5px solid black;
    box-shadow:$bxshd;
    .p1{
        font-size: 50px;
        border:$bd;
    }
    .p2{
        font-size: 30px;
        color:#03b812;
    }
}

