@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
}
body .area {
  background-color: hsl(0, 0%, 100%);
  max-width: 50%;
  border-radius: 17px;
  margin: 20px;
}
body .area .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 30px 30px 30px 30px;
}
body .area .container hr {
  margin: 15px 0 0 0;
  background-color: hsl(30, 18%, 87%);
  border: none;
  height: 1px;
  width: 100%;
}
body .area .container img {
  border-radius: 10px;
  max-width: 100%;
}
body .area .container h1 {
  font-family: Young Serif;
  font-weight: 400;
  font-size: 2.5em;
  color: hsl(24, 5%, 18%);
  margin-bottom: 17px;
}
body .area .container .text1 {
  margin-top: 0;
  font-family: Outfit;
  font-weight: 400;
  font-size: 15px;
  color: hsl(30, 10%, 34%);
  letter-spacing: 1px;
}
body .area .container .list1 {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  margin-top: 25px;
  padding-bottom: 10px;
}
body .area .container .list1 .list-title1 {
  font-family: Outfit;
  color: hsl(332, 51%, 32%);
  font-weight: 600;
  font-size: 1.5em;
  margin: 25px;
}
body .area .container .list1 ul {
  list-style-type: disc;
  font-family: Outfit;
  font-size: 0.9em;
}
body .area .container .list1 ul li {
  color: hsl(24, 5%, 18%);
  font-weight: 400;
  margin-top: 10px;
}
body .area .container .list1 ul li::marker {
  color: hsl(332, 51%, 32%);
  font-size: 0.7em;
}
body .area .container .list1 ul span {
  font-weight: 600;
  margin: 20px 0 20px 20px;
}
body .area .container .list2 .list-title2 {
  font-family: Young Serif;
  color: hsl(14, 45%, 36%);
  font-weight: 400;
  font-size: 1.5em;
  margin: 25px 0 0 0;
}
body .area .container .list2 ul {
  color: hsl(24, 5%, 18%);
  list-style-type: disc;
  font-family: Outfit;
  font-size: 0.9em;
  padding: 0 0 0 1.4em;
}
body .area .container .list2 ul li {
  font-weight: 400;
  margin-top: 10px;
}
body .area .container .list2 ul li::marker {
  font-size: 0.7em;
  color: hsl(14, 45%, 36%);
}
body .area .container .list2 ul p {
  margin: 0 0 0 14px;
}
body .area .container .list3 .list-title3 {
  font-family: Young Serif;
  color: hsl(14, 45%, 36%);
  font-weight: 400;
  font-size: 1.5em;
  margin: 25px 0 0 0;
}
body .area .container .list3 ol {
  color: hsl(24, 5%, 18%);
  font-family: Outfit;
  font-weight: 400;
  padding: 0 0 0 1.4em;
  font-size: 0.9em;
}
body .area .container .list3 ol li {
  padding-left: 16px;
  text-indent: -16px;
  font-weight: 400;
  margin-top: 10px;
}
body .area .container .list3 ol li::marker {
  font-family: Outfit;
  color: hsl(332, 51%, 32%);
  font-size: 0.9em;
  font-weight: 600;
}
body .area .container .list3 ol span {
  font-weight: 600;
  margin: 20px 0 20px 14px;
}
body .area .container .list4 .list-title4 {
  font-family: Young Serif;
  color: hsl(14, 45%, 36%);
  font-weight: 400;
  font-size: 1.5em;
  margin: 25px 0 0 0;
}
body .area .container .list4 .list-text4 {
  font-family: Outfit;
  color: hsl(24, 5%, 18%);
  font-size: 0.9em;
  margin: 13px 0 0 0;
}
body .area .container .list4 .list4-container {
  margin-top: 20px;
}
body .area .container .list4 .list4-container .element1 {
  font-family: Outfit;
  display: flex;
  width: 100%;
  margin: 10px 0 0 20px;
}
body .area .container .list4 .list4-container .element1 #el1 {
  width: 10%;
  font-size: 0.8em;
  color: hsl(24, 5%, 18%);
}
body .area .container .list4 .list4-container .element1 #el11 {
  margin: 0 0 0 40%;
  font-size: 0.9em;
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}
body .area .container .list4 .list4-container .element2 {
  font-family: Outfit;
  display: flex;
  width: 100%;
  margin: 10px 50% 0 20px;
}
body .area .container .list4 .list4-container .element2 #el2 {
  width: 10%;
  font-size: 0.8em;
  color: hsl(24, 5%, 18%);
}
body .area .container .list4 .list4-container .element2 #el22 {
  margin: 0 0 0 40%;
  font-size: 0.9em;
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}
body .area .container .list4 .list4-container .element3 {
  font-family: Outfit;
  display: flex;
  width: 100%;
  margin: 10px 50% 0 20px;
}
body .area .container .list4 .list4-container .element3 #el3 {
  width: 10%;
  font-size: 0.8em;
  color: hsl(24, 5%, 18%);
}
body .area .container .list4 .list4-container .element3 #el33 {
  margin: 0 0 0 40%;
  font-size: 0.9em;
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}
body .area .container .list4 .list4-container .element4 {
  font-family: Outfit;
  display: flex;
  width: 100%;
  margin: 10px 50% 0 20px;
}
body .area .container .list4 .list4-container .element4 #el4 {
  width: 10%;
  font-size: 0.8em;
  color: hsl(24, 5%, 18%);
}
body .area .container .list4 .list4-container .element4 #el44 {
  margin: 0 0 0 40%;
  font-size: 0.9em;
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}/*# sourceMappingURL=index-style.css.map */