body{
    background: #e4ab31;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: sans-serif;
    height: 100vh;
}
.container{
    max-width: 340px;
    /* Position */
        display:block;
        align-items: center;
        justify-content: center;
    /* border */
    margin-top: 5%;
    padding: 20px;
    border: 2px solid black;
    border-radius:30px;
    /* background */
    background: #ffffff;
    /* shadow */
    box-shadow:5px 5px 0 5px #000000;
    
}

.photo{
    border-radius:10px;
}
.learning{
    font-size:25px;
    display: block;
    width:fit-content;
    background:#e4ab31;
    padding: 10px;
    border-radius: 7px;
}
h1{
    font-size: 25px;
}
.text{
    margin-top: 20px;
    color:grey;
}
.container2{
    overflow: auto;
    background: url(../media/image-avatar.webp) no-repeat;
    background-position: 0px center;
    background-size: 40px 40px;
}
.hoop{    
    padding: 0 0 0 45px;
    font-weight:700;
}
